*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #e9ecef;
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #343a40;
    margin-bottom: 20px;
}

input {
    width: 100%;
    padding: 10px;
    border: 2px solid #6c757d;
    border-radius: 5px;
    margin-bottom: 20px;
    font-size: 16px;
    transition: border-color 0.3s;
}

input:focus {
    border-color: #007bff;
    outline: none;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border: 1px solid #adb5bd;
    border-radius: 5px;
    background-color: #ffffff;
    margin-bottom: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, background-color 0.3s;
}

li:hover {
    background-color: #f8f9fa;
    transform: scale(1.01);
    transition: all .3s ease-in-out;
}

.completed {
    text-decoration: line-through;
    color: #6c757d;
}

.button-container {
    display: flex;
    gap: 10px; /* Espaçamento entre os botões */
}

button {
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    transition: all .3s ease-in-out;
}

button.edit {
    background-color: #007bff;
}

button.edit:hover {
    background-color: #0056b3;
}

button.remove {
    background-color: #dc3545;
}

button.remove:hover {
    background-color: #c82333;
}

button:focus {
    outline: none;
}
